HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Bruno ###
/DevOps/bruno/environments/加密开发环境.bru

### application-{name}.yml ###
/life-helper-web/src/main/resources/application-dev.yml
/life-helper-web/src/main/resources/application-prod.yml
/life-helper-aliyun/life-helper-aliyun-sms/src/main/resources/application-sms.yml
/life-helper-aliyun/life-helper-aliyun-oss/src/main/resources/application-oss.yml
/life-helper-external/life-helper-wemap/src/main/resources/application-wemap.yml

### flatten-maven-plugin 插件生成的文件 ###
.flattened-pom.xml
