<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inlym.lifehelper.weather.weather_place.mapper.WeatherPlaceMapper">
    <resultMap id="WeatherPlaceResult" type="com.inlym.lifehelper.weather.weather_place.entity.WeatherPlace">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="longitude" column="longitude"/>
        <result property="latitude" column="latitude"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO weather_place(user_id, name, address, longitude, latitude, province, city, district)
        VALUES (#{place.userId}, #{place.name}, #{place.address}, #{place.longitude}, #{place.latitude},
                #{place.province}, #{place.city}, #{place.district})
    </insert>
    <select id="list" resultMap="WeatherPlaceResult">
        SELECT id,
               name,
               address,
               longitude,
               latitude,
               province,
               city,
               district
        FROM weather_place
        WHERE user_id = #{userId}
        ORDER BY id DESC
    </select>

</mapper>
