<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 控制台彩色日志输出格式 -->
    <property name="CONSOLE_PATTERN"
              value="%magenta(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %blue(%X{rid}) %green(%X{ip}) %red(%X{uid}) %cyan(%X{method}) %yellow(%X{url}) %yellow(:) %msg%n"/>

    <!--文件日志打印格式 -->
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %X{rid} %X{ip} %X{uid} %X{method} %X{url} %logger - %msg%n"/>

    <!--文件日志打印目录 -->
    <property name="FILE_DIR" value="logs"/>

    <!-- 阿里云日志服务（SLS）配置 -->
    <springProperty name="ALIYUN_SLS_ACCESS_KEY_ID" source="aliyun.sls.access-key-id"/>
    <springProperty name="ALIYUN_SLS_ACCESS_KEY_SECRET" source="aliyun.sls.access-key-secret"/>
    <springProperty name="ALIYUN_SLS_ENDPOINT" source="aliyun.sls.endpoint"/>
    <springProperty name="ALIYUN_SLS_PROJECT" source="aliyun.sls.project"/>
    <springProperty name="ALIYUN_SLS_LOG_STORE" source="aliyun.sls.log-store"/>

    <!-- 为了防止进程退出时，内存中的数据丢失 -->
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <!-- 日志输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 日志输出到文件（目前仅用于本地测试） -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${FILE_DIR}/app.log</file>
        <append>false</append>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 阿里云日志服务（SLS）附加器 -->
    <!-- 文档地址：https://github.com/aliyun/aliyun-log-logback-appender/blob/master/README_CN.md -->
    <appender name="ALIYUN_SLS" class="com.aliyun.openservices.log.logback.LoghubAppender">
        <endpoint>${ALIYUN_SLS_ENDPOINT}</endpoint>
        <accessKeyId>${ALIYUN_SLS_ACCESS_KEY_ID}</accessKeyId>
        <accessKeySecret>${ALIYUN_SLS_ACCESS_KEY_SECRET}</accessKeySecret>
        <project>${ALIYUN_SLS_PROJECT}</project>
        <logStore>${ALIYUN_SLS_LOG_STORE}</logStore>

        <encoder>
            <!-- 由于阿里云日志本身包含了日志消息（即 `%msg`），因此此处原有的日志消息就放置一些附加信息 -->
            <pattern>%X{rid} %X{ip} %X{uid} %X{method} %X{url}</pattern>
        </encoder>

        <maxBlockMs>0</maxBlockMs>
        <timeFormat>yyyy-MM-dd HH:mm:ss</timeFormat>
        <timeZone>Asia/Shanghai</timeZone>
    </appender>

    <!-- 开发测试环境配置 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="ALIYUN_SLS"/>
        </root>

        <logger name="com.inlym.lifehelper" level="TRACE"/>
        <logger name="org.hibernate" level="INFO"/>
    </springProfile>

    <!-- 生产环境配置 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ALIYUN_SLS"/>
        </root>

        <logger name="com.inlym.lifehelper" level="TRACE"/>
        <logger name="org.hibernate" level="INFO"/>
    </springProfile>

</configuration>
