<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inlym.lifehelper.user.mapper.UserMapper">
    <resultMap id="UserResult" type="com.inlym.lifehelper.user.entity.User">
        <result property="id" column="id"/>
        <result property="openid" column="openid"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <select id="findUserByOpenid" resultMap="UserResult">
        select id, openid, phone
        from user
        where openid = #{openid}
    </select>
</mapper>
