<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inlym.lifehelper.user.mapper.UserMapper">
    <resultMap id="UserResult" type="com.inlym.lifehelper.user.entity.User">
        <result property="id" column="id"/>
        <result property="openid" column="openid"/>
        <result property="phone" column="phone"/>
        <result property="nickName" column="nick_name"/>
        <result property="avatar" column="avatar"/>
        <result property="registerTime" column="register_time"/>
    </resultMap>

    <select id="findById" resultMap="UserResult">
        SELECT id, openid, phone, nick_name, avatar, register_time
        FROM `user`
        WHERE id = #{id}
    </select>

    <select id="findByOpenid" resultMap="UserResult">
        SELECT id, openid, phone, phone, nick_name, avatar, register_time
        FROM `user`
        WHERE openid = #{openid}
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user(openid, register_time)
        VALUES (#{user.openid}, now())
    </insert>

    <!-- 赋值时隐藏了不允许变更的字段，避免误操作 -->
    <update id="update">
        UPDATE `user`
        <set>
            <if test="user.phone != null">phone = #{user.phone},</if>
            <if test="user.nickName != null">nick_name = #{user.nickName},</if>
            <if test="user.avatar != null">avatar = #{user.avatar},</if>
        </set>
        WHERE id = #{user.id}
    </update>
</mapper>
